// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #6fb316;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

$dark: #273035 !default;
$navbar-dark-color: $white !default;
$navbar-dark-brand-color: #a3aaae !default;
$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
$navbar-dark-active-color: #152022 !default;
$secondary: #f2f2f2 !default;
$card-cap-bg: $white !default;
$card-border-width: 0 !default;
$card-border-radius: 0 !default;
$border-width: 1px !default;
$border-radius: 0 !default;
$input-bg: $secondary !default;
$card-border-color: #abb0b2 !default;
$like-color: #4a585a !default;
$font-family-base: 'Roboto' !default;
$card-spacer-y: .5rem !default;
$container-max-widths: (
  	sm: 540px,
  	md: 720px,
  	lg: 960px,
  	xl: 1366px
) !default;
