// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~swiper/dist/css/swiper.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~slick-carousel/slick/slick.css';

@font-face {
  font-family: 'SF-UI-Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF-UI-Display-Black'), local('SF-UI-Display-Black'), url(../fonts/SF-UI-Display-Black.otf) format('otf');
}

body {
    background-color: $secondary;
}

html, body, #app {
    height: 100%;
}

footer {
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

[v-cloak] {
    display: none;
}


.navbar-nav {
  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    color: $navbar-dark-active-color;
    background-color: $secondary;
  }
}

.navigation__container {
    background: linear-gradient(90deg, $white 50%, $secondary 50%);

    .navigation__container__menu {
        background-color: $secondary;
        padding-top: 20px;
        padding-bottom: 20px;

        a {
            color: $dark;
            display: inline-block;
        }

    }

}

.card-header {
    border-bottom: $border-width solid $card-border-color;
    padding: $card-spacer-x 0;
    color: $success;
    font-size: 1.5rem;
}

.card.bg-transparent {

    .card-header, .card-footer {
        background-color: transparent;
    }

}

.card.bg-transparent > .card-body {
    margin-left: -$card-spacer-y;
    margin-right: -$card-spacer-y;
}

.card-body {
    padding: $card-spacer-x 0;
    overflow: hidden;
}

.card-footer {
    padding: $card-spacer-x 0;
    border-top: $border-width dashed $card-border-color;
}

.card {
    padding: 0 $card-spacer-y;
}

.card_default-item {
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,.2);
}

.btn {
    text-transform: uppercase;
}

.like {
    color: $like-color;
}

.like:hover {
    text-decoration: none;
    color: $like-color;
}

.navigation__children {

    a {
        color: $white;
    }

}

.btn.like:disabled {
    color: $danger;
}

.ratio_container {
    width: 100%;
    padding-top: 75%;
    position: relative;
}

.ratio_container .card_default-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slide_ratio {
    width: 100%;
    padding-top: 25%;
    position: relative;
}

.slide_ratio .slide_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.test_editor {
    background-color: red;
}

#snow_canvas {
    display: none;
}

.slide_container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide_container .container {
    display: flex;
}

.slide_text {
    background-color: rgba(0,0,0,.6);
    color: $white;
    flex: 0 100%;
}

@include media-breakpoint-up(lg) {
    .slide_text {
        flex: 0 25%;
    }
}

.tree_item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    cursor: pointer;
}

.logo_img {
    width: 140px;
    margin-right: 40px;
}

.social_network_icon {
    width: 50px;
}
